{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'include/_directory_nav.html' %}
<div class="col-md-9 mt-5">
    <div class="container mt-4">
    <h2>Создание Категории</h2>

    <!-- Форма для создания категории -->
    <form method="POST" id="category-form">
        {% csrf_token %}
        {{ category_form.as_p }}

        <button type="submit" class="btn btn-primary">Создать категорию</button>
    </form>

    <!-- Кнопка для открытия модального окна создания типа -->
    <button class="btn btn-info mt-3" data-bs-toggle="modal" data-bs-target="#createTypeModal">+ Добавить тип</button>

    <!-- Модальное окно для создания типа -->
    <div class="modal fade" id="createTypeModal" tabindex="-1" aria-labelledby="createTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTypeModalLabel">Создание нового типа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form id="type-form">
                        {% csrf_token %}
                        {{ type_form.as_p }}
                        <button type="submit" class="btn btn-primary">Создать тип</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Подключаем jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Подключаем Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


<script>
    $('#type-form').submit(function(event) {
    event.preventDefault();

    $.ajax({
        url: '{% url "create_type" %}',  // Путь к обработчику создания типа
        type: 'POST',
        data: $(this).serialize(),
        success: function(response) {
            if (response.success) {
                // Добавляем новый тип в список типов категории
                const newType = response.type;
                const newTypeId = response.type_id;
                const newOption = $('<option>').text(newType).val(newTypeId);
                $('#id_type').append(newOption);

                // Закрываем модальное окно для типа
                $('#createTypeModal').modal('hide');
            } else {
                alert('Ошибка при создании типа');
            }
        },
        error: function(xhr, status, error) {
            console.error('Ошибка AJAX: ', status, error);  // Логируем ошибку в консоль
            alert('Произошла ошибка при отправке запроса');
        }
    });
});
</script>


    {% endblock content %}