{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'include/_directory_nav.html' %}
<div class="col-md-9 mt-5">
    <div class="container mt-4">
        <h1>Добавить статус</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
        <label for="id_name">Name: </label>
        <input type="text" name="name" class="form-control" id="id_name">
    </div>
            <button type="submit" class="btn btn-primary mt-3">Добавить</button>
        </form>

        <a href="{% url 'status_list' %}" class="btn btn-secondary mt-3">Назад</a>
    </div>


</div>
</div>


{% endblock content %}