{% extends 'base.html' %}

{% block content %}
{% include 'include/_main_nav.html' %}
<div class="col-md-9 mt-5">
    <h1>Редактировать тип</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Название типа</label>
            {{ form.name }}
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <a href="{% url 'type_list' %}" class="btn btn-secondary mt-3">Отменить</a>
</div>
</div>
    {% endblock content %}