{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Регистрация</h2>
                    <form action="#" method="POST">
                        {% csrf_token %}

                        {% for f in form %}
                        {% if forloop.last %}
                        {% else %}
                        <div class="col-md-12 form-group p_star" style="margin-bottom: 20px;">
                            {{ f }}
                        </div>
                        <div class="col-md-12 form-group p_star" style="margin-bottom: 20px;">
                            <div style="color: red !important;" class=form-error">{{ f.errors }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-md-12 form-group" style="margin-bottom: 20px;">
                            <div class="creat_account d-flex align-items-center">
                                {{ form.remember_me }}
                                <label for="{{ form.remember_me.id_for_label }}">Remember me</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
                    </form>

                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
